<launch>
  <node name="hmi_node" pkg="turtleBot3" type="hmi_node" output="screen" launch-prefix="gnome-terminal --command"/>
  <node name="odom_node" pkg="turtleBot3" type="odom_node" output="screen" launch-prefix="gnome-terminal --command"/>
  <node name="lfx_node" pkg="turtleBot3" type="lfx_node" output="screen" launch-prefix="gnome-terminal --command"/>
</launch>
