<launch>
  <node name="lfx_node" pkg="turtleBot3" type="lfx_node" />
  <node name="disp_node" pkg="turtleBot3" type="disp_node" /> 
  <node name="mcl_node" pkg="turtleBot3" type="mcl_node" />  
  <node name="mon_node" pkg="turtleBot3" type="mon_node" output="screen"/ />
  <node name="pp_node" pkg="turtleBot3" type="pp_node" >
  <node name="rviz" pkg="rviz" type="rviz" args="-d /home/mohamed/catkin/src/turtleBot3/recordings/rviz_display.rviz"/>  
</launch>
