<launch>
  <node name="odom_node" pkg="turtleBot3" type="odom_node" />
  <node name="lfx_node" pkg="turtleBot3" type="lfx_node" />
  <node name="disp_node" pkg="turtleBot3" type="disp_node" />  
  <node name="mon_node" pkg="turtleBot3" type="mon_node" output="screen" />
  <node name="rviz" pkg="rviz" type="rviz" />  
</launch>
